
.map{
    margin-top: 50px;
}
.bt{
    text-align: center;
    align-items: center;
}
.form2{
    margin-top: 80px;
    background-image: url(https://image.shutterstock.com/image-photo/location-marking-pin-on-map-260nw-1756593041.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
   
    
    padding: 20px 0;
}
.site{ 
  
    align-items: center;
    text-align: right;
    position: relative;
    left: 110px;
    top:30px;
}
.form{
    background: rgba(255, 255, 255, 0.21);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    border: 1px solid rgba(255, 255, 255, 0.49);
    padding: 40px;
    border-radius: 15px;
    padding: 25px;
    border-radius: 30px;
}
.icon2{
    position: relative;
    left: 20px;
    background-color: rgb(10, 26, 56);
    padding: 10px;
  border-radius: 50px;
  color: white;
  font-size: 45px;
}
.site p{
    font-weight: 600;
    color: black;

}
.site h4{
    color: rgb(10, 26, 56);
}